.main {
  width: fit-content;
}

.disp {
  margin-left: 40px;
  list-style-type: disc;
}

.disp li:hover {
  background-color: rgb(141, 141, 141);
  color: chartreuse;
  list-style-type: circle;
  width: fit-content;
}
