.button {
  border: 1px solid white;
  padding: 8px;
  border-radius: 10px;
  margin-left: 16px;

  background-color: darkblue;
}

.button:hover {
  background-color: transparent;
  transition: all 300ms ease-in-out;
}
